@media (max-width: 1000px min-width: 670px) {

  .a {
    height: 200px
  }

  .b {
    height: 100px;
  }

  .c {
    height: 350px;
  }

  .c-1 {
    height: 150px;
  }

  .el {
    width: 150px;
    height: 150px;
  }

  .d {
    height: 300px;
  }

  .d-1 {
    width: 300px;
    height: 150px;
  }

}

@media (max-width: 670px) {

  .b {
    height: 50px;
  }

  .c {
    height: 250px;
  }

  .c-1 {
    width: 80%;
  }

}
