body {
  display: flex;
}

.column {
  width: 200px;
}

.a-a {
  background-color: red;
  height: 500px;
}

.a-b {
  background-color: yellow;
  height: 100px;
}

.b-a {
  background-color: blue;
  height: 200px;
}

.b-b {
  background-color: green;
  height: 400px;
}

.c-a {
  background-color: black;
  height: 300px;
}

.c-b {
  background-color: pink;
  height: 300px;
}
